[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cookiecutter = "*"
blog-pyramid = {editable = true,extras = ["testing"],path = "."}
pyramid-sacrud = "0.3.3"

[requires]
python_version = "3.8"
