{% extends  "../base.jinja2" %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                        <div class="row">
                            <form action="{{request.route_url('user_register')}}" method="post" class="form">
                                {% for error in form.username.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="username">{{form.username.label}}</label>
                                    {{form.username(class_='form-control')}}
                                </div>

                                {% for error in form.email.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="email">{{form.email.label}}</label>
                                    {{form.email(class_='form-control')}}
                                </div>

                                {% for error in form.password.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="password">{{form.password.label}}</label>
                                    {{form.password(class_='form-control')}}
                                </div>

                                {% for error in form.password2.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="password2">{{form.password2.label}}</label>
                                    {{form.password2(class_='form-control')}}
                                </div>

                                {% for error in form.firstname.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="firstname">{{form.firstname.label}}</label>
                                    {{form.firstname(class_='form-control')}}
                                </div>

                                {% for error in form.lastname.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="lastname">{{form.lastname.label}}</label>
                                    {{form.lastname(class_='form-control')}}
                                </div>

                                {% for error in form.about.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="about">{{form.about.label}}</label>
                                    {{form.about(class_='form-control')}}
                                </div>

                                <div class="form-group">
                                <label></label>
                                <button type="submit" class="btn btn-info">Register</button>
                                <a href="{{ request.route_url('admin_users') }}" class="btn btn-secondary">Cancel</a>
                                </div>

                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
