<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request.static_url('blog_pyramid:static/assets/images/favicon.png') }}">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>

    <link href="{{ request.static_url('blog_pyramid:static/css/style.min.css')}}" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body class="skin-default fixed-layout">

    <div id="main-wrapper">
        {% include 'header.html' %}
    </div>


    <div class="content">
    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{ title }}</span></p>
    </div>

</body>

</html>