<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request.static_url('blog_pyramid:static/assets/images/favicon.png') }}">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>

    <link href="{{ request.static_url('blog_pyramid:static/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('blog_pyramid:static/css/style.min.css') }}" rel="stylesheet">

</head>

<body class="skin-default card-no-border">

    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <form class="form form-horizontal form-material" action="{{request.route_url('login')}}" method="post">
                    <h3 class="text-center m-b-20">Log In</h3>
                    <div class="error">{{ error }}</div>
                    <div class="form-group">
                        <label for="email">{{form.email.label}}</label>
                            {{form.email(class_='form-control')}}
                    </div>
                    <div class="form-group">
                        <label for="password">{{form.password.label}}</label>
                        {{form.password(class_='form-control')}}
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</body>

</html>