{% extends  "./base.jinja2" %}

{% block content %}

    <div class="row p-5">
        <div class="col-md-12">
            <div class="fix-width banner-part text-center">
                <div class="min-h">
                    <h1 class="banner-title">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-inline font-14">
                        <li class="p-l-0">| 20 May 2016 | </li>
                        <li><a href="#" class="link"> | Author | </a></li>
                        <li><a href="#" class="link"> | Category |</a></li>
                    </ul>
                    <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

