{% extends  "../base.jinja2" %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit post "{{ post.title }}"</h4>
                    <div class="row">
                        <form class="m-t-80" method="POST" enctype="application/x-www-form-urlencoded">
                            <div class="row">

                                {{ form | safe }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
