{% extends  "../base.jinja2" %}

{% block content %}


    <div class="row page-titles">
        <div class="col-md-12">
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Delete category "{{ category.name }}"?</p>
                    <a href="{{ request.route_url('category_delete_confirmed', slug=category.slug) }}" class="btn btn-danger">Confirm</a>
                    <a href="{{ request.route_url('admin_categories') }}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}