{% extends  "../base.jinja2" %}

{% block content %}


    <div class="row page-titles">
        <div class="col-md-12">
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="{{ request.route_url('category_create') }}" class="btn btn-info btn-rounded m-t-10 float-right">Add New Category</a>

                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list" data-paging="true" data-paging-size="7">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description}}</td>
                                    <td>{{ category.created.strftime('%Y-%m-%d')}}</td>
                                <td>
                                    <a href="{{ request.route_url('category_edit', slug=category.slug) }}" class="btn btn-sm btn-dark">Edit</a>
                                    <a href="{{ request.route_url('category_delete', slug=category.slug) }}" class="btn btn-sm btn-danger">Delete</a>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}